apache-airflow-providers-common-sql==1.3.1
apache-airflow-providers-zendesk==3.0.3
apache-airflow-providers-amazon==6.0.0
awswrangler
folium
google-auth
gspread
gspread_dataframe
gspread_formatting
haversine
matplotlib
mysql-connector-python
mysqlclient
pandas
psycopg2
redshift_connector
scikit-mobility
scipy
shapely<2
zenpy
